body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
  }
  .bg {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#3e5f3c,#0e2001);
    z-index: -1;
  }
  
  form {
    color:white;
    width: 500px;
    height: 525px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    position: relative;
    overflow: auto; 
    max-height: calc(100% - 50px);
    background: rgba(8, 8, 8, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
  }
  
  h2 {
    text-align: center;
  }
    
  .form-group {
    margin-bottom: 20px;
  }
   
 
  label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: rgba(197, 183, 183, 0.26);
    border: none;
    color: white;
    
  }
  ::placeholder{
    color:rgba(255, 255, 255, 0.397);
  }
  
 button {
    width: 100%;
    color:rgb(0, 0, 0);
    background-color: #b4a51dcb;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
 button:hover {
    background-color: #414607;
    color:white;
  }

